body{
    position: relative;
    margin: 0px;
}

.content{
    padding: 3rem;
    filter: blur(0px);
}

.modalContainer{
    background-color: rgb(0, 0, 0);
    opacity: 90%;
    color: brown;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    display: none;
}

.modal{
    color: rgb(202, 192, 192);
    margin-top: 2rem;
    height: 8rem;
    width: 10rem;
    background-color: rgb(123, 0, 0);
    z-index: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    
}

.modal img{
    height: 20px;
    width: 20px;
    margin-left: 9rem;
    filter: invert(5);
}

.modal img:hover{
  opacity: 60%;
}
